* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Mono';
}

/* <Entry /> */

.titlebar-wrapper {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(98, 116, 135, 0.823);
}

.title {
  font-family: 'IBM Plex Mono' !important;
  font-weight: 300;
}

.slogan {
  font-size: 0.8rem;
  font-family: 'Julius Sans One'
}

.form-content-wrapper {
  display: flex;
  background-color: rgba(60, 71, 82, 0.823);
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-form {
  padding: 20px;
  margin: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 8px;
}

.entry-input, .entry-button {
  padding: 15px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  margin: 5px;
}

.member {
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: 0.1s;
}

.login-err {
  color: rgb(255, 149, 149);
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

/* Navpage */

.small-titlebar-wrapper {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(98, 116, 135, 0.823);
}

.small-title {
  font-family: 'IBM Plex Mono';
}

.nav-icons {
  color: black;
  font-size: 2.5rem;
}

.highlighted {
  color: white;
}

.colored-icon {
  color: rgb(29, 241, 188);
}

.navbar-wrapper {
  height: 12vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chat-select, .friend-select, .profile-select, .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(63, 93, 124, 0.823);
}

.conditional-content-wrapper {
  height: 80vh;
  background-color: rgba(60, 71, 82, 0.823);
}

/* <ProfileContent /> */

.view-reqs {
  height: 8vh;
  background-color: rgb(198, 200, 201);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-block {
  height: 36vh;
}

.bio-block {
  height: 28vh;
  overflow-y: scroll;
}

.profile-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-input {
  padding: 5px;
  border-radius: 8px;
  border: none;
  width: 90%;
}

.loading-phase {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.view-reqs-wrapper {
  display: flex;
  height: 100%;
}

.sub-nav-icons {
  font-size: 2rem;
  margin-left: -5px;
}

.logout-wrapper {
  height: 8vh;
  background-color: crimson;
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-bio {
  height: 8vh;
  background-color: rgb(54, 75, 93);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 50px;
  border: 2px solid white;
  height: 140px;
}

.profile-change-button {
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 5px;
  margin: 10px;
}

.username-block {
  margin: 10px;
  color: white;
}

.bio-title {
  margin: 5px;
  font-size: 1rem;
}

.bio-text {
  padding: 15px;
  font-size: 0.8rem;
}

.bio-input {
  height: 28vh;
  width: 100%;
  background-color: rgb(65, 71, 71);
  color: rgb(218, 218, 218);
  border: none;
}

.profile-block {
  background-color: rgba(88, 135, 182, 0.823);
}

.inbound, .outbound {
  height: 8vh;
  background-color: rgb(168, 209, 245);
  display: flex;
  border-top: 1px solid black;
  justify-content: center;
  align-items: center;
}

.go-back {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(198, 200, 201);
}

.loading-placeholder {
  height: 20vh;
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  align-items: center;
}

.req-message {
  margin-left: 20px;
}

.req-buttons-block {
  height: 100%;
  width: 50%;
  border-right: 1px solid black;
}

.req-buttons-block-inbound {
  height: 100%;
  width: 50%;
}

.req-button {
  width: 100%;
  height: 100%;
  border: none;
  border-left: 1px solid black;
}

.req-button-half {
  width: 50%;
  height: 100%;
  border: none;
  border-left: 1px solid black;
}

.accept {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.reqs-wrapper {
  overflow-y: scroll;
  height: 80vh;
}

.outbound-req-wrapper, .inbound-req-wrapper {
  height: 12vh;
  background-color: rgb(131, 196, 182);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
}

/* Friends */

.friend-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
}

.my-friends-bar {
  height: 8vh;
  background-color: rgb(92, 92, 255);
  display: flex;
  align-items: center;
}

.show-hide-friends {
  width: 33.3%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-friends-text {
  width: 66.6%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.friend-button-right {
  width: 40%;
}

.friend-button-left {
  width: 60%;
}

.searchbar {
  height: 8vh;
  background-color: bisque;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fire-search, .search-input {
  padding-left: 10px;
  padding-right: 10px;
}

.fire-search {
  margin-left: 10px;
  height: 80%;
  border: none;
  border-radius: 8px;
}

.search-input {
  border: none;
  height: 80%;
  border-radius: 8px;
}

.friend-area {
  height: 36vh;
}

.friend-bar {
  justify-content: left;
}

.friend-profile-title, .go-back-friend {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-profile-title {
  width: 66.6%;
}

.go-back-friend {
  width: 33.3%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.searched-user-wrapper {
  height: 12vh;
  background-color: rgb(179, 108, 246);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searched-user-text, .searched-user-button-block {
  height: 100%;
}

.friend-list {
  border-top: 1px solid black;
}

.pic-blurb {
  height: 70px;
}

.spacer-bar {
  height: 8vh;
  background-color: rgba(60, 71, 82, 0.823);
}

.profile-search-img-container {
  height: 70px;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 1vh;
  margin-right: 1vh;
  display: flex;
  justify-content: center;
  width: 70px;
  overflow: hidden;
}

.searched-user-text {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-right: 1px solid black;
}

.searched-user-button-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.view-profile-button, .send-request-button {
  width: 50%;
  height: 100%;
  border: none;
}

.view-profile-button {
  border-right: 1px solid black;
}

.no-click {
  pointer-events: none;
}

.no-click:hover {
  cursor: not-allowed;
}

/* Chat */

.chat-user {
  justify-content: center;
  align-items: center;
  width: 25%;
}

.chat-user-text {
  width: 75%;
}

.chat-content-wrapper {
  overflow-y: scroll;
}

.chat-wrapper {
  height: 80vh;
  background-color: rgb(176, 182, 193);
}

.chat-space {
  height: 56vh;
  padding-bottom: 10px;
  padding-top: 0px;
  overflow-y: scroll;
}

.chat-bar, .chat-textarea {
  height: 12vh;
  display: flex;
}

.chat-textarea {
  height: 12vh;
  width: 75%;
  border: none;
  padding: 5px;
}

.send-chat-button {
  width: 25%;
  height: 12vh;
  border: none;
}

.chat-chat {
  height: 12vh;
}

.chat-message-wrapper {
  display: flex;
  align-items: center;
}

.chat-message-body {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  margin: 10px;
  margin-bottom: 0px;
  max-width: 70%;
}

.right {
  justify-content: right;
  flex-direction: row-reverse;
}

.right > .chat-message-body {
  background-color: aquamarine;
}

.left > .chat-message-body {
  background-color: rgb(108, 205, 234);
}

.left {
  justify-content: left;
}

.loading-balls {
  height: 100px;
}

.show-status {
  font-size: 0.8rem;
  color: rgb(93, 93, 93);

}