* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow';
}

/* <Entry /> */

:root {
  --title-grey: rgba(98, 116, 135, 0.823);
  --entryway-grey: rgba(60, 71, 82, 0.823);
  --profile-mattegrey: rgba(68, 84, 101, 0.823);
  --entryway-lightgrey: rgba(88, 105, 123, 0.823);
  --entryway-offwhite: rgba(243, 243, 243, 0.817);
  --entryway-bluegrey: rgb(184, 203, 212);
  --bio-darkgrey: rgba(64, 68, 73, 0.823);
  --bio-lightgrey: rgb(160, 166, 170);
  --exit-orange: rgb(238, 169, 78);
  --exit-deep-orange: rgb(255, 145, 0);
  --inbound-blue: rgb(158, 184, 208);
  --req-grey: rgb(198, 200, 201);
  --req-emerald: rgb(107, 164, 151);
  --clear-chat-red: rgb(174, 69, 69);
  --clear-chat-bright-red: rgb(186, 33, 33);
  --user-color: rgb(222, 237, 21);
  --my-chat-color: rgb(74, 233, 180);
  --friend-chat-color: rgb(108, 205, 234);
  --purple-grey: rgb(185, 177, 203);
  --muted-tangerine: rgb(107, 172, 168);
  --space-grey: rgb(147, 166, 194);
  --dark-bluegrey: rgb(121, 147, 160);
  --bio-blue: rgb(54, 100, 126);
}

/* hover effects */

.entry-button:hover, .member:hover, .profile-change-button:hover, .req-button-half:hover, .req-button:hover, .send-chat-button:hover, .view-profile-button:hover, .send-request-button:hover {
  background-color: var(--dark-bluegrey);
  transition: 0.1s;
}

.logout:hover * {
  color: var(--exit-deep-orange);
  transition: 0.1s;
}

.profile-select:hover *, .chat-select:hover *, .friend-select:hover * {
  color: rgb(133, 178, 207);
}

.profile-select:hover * .highlighted {
  color: var(--entryway-offwhite);
}

.edit-bio:hover, .chat-user-wrapper:hover {
  background-color: var(--bio-blue);
  transition: 0.1s;
}

.show-hide-friends:hover {
  background-color: rgb(49, 114, 99);
}

.clear-chat-button:hover {
  background-color: var(--clear-chat-bright-red);
}

.titlebar-wrapper {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--title-grey);
}

.title {
  font-family: 'IBM Plex Mono' !important;
  font-weight: 300;
}

.slogan {
  font-family: 'Julius Sans One';
}

.slogan-size {
  font-size: 0.8rem;
}

.form-content-wrapper {
  display: flex;
  background-color: var(--entryway-grey);
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entry-form {
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 8px;
}

.entry-input, .entry-button {
  padding: 15px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  transition: 0.1s;
  margin: 5px;
}

.entry-input {
  background-color: var(--entryway-offwhite);
}

.entry-button, .member {
  background-color: var(--entryway-bluegrey);
}

.member {
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: 0.1s;
}

.category-select {
  width: 100%;
  display: flex;
  justify-content: center;
}

.entry-button:hover, .member:hover, .profile-change-button:hover, .edit-bio:hover, .view-reqs:hover, .go-back:hover, .req-button:hover, .profile-select:hover, .chat-select:hover, .friend-select:hover, .req-button-half:hover, .chat-user-wrapper:hover, .show-hide-friends:hover, .send-chat-button:hover, .clear-chat-button:hover, .logout:hover, .view-profile-button:hover, .send-request-button:hover {
  cursor: pointer;
}

.login-err {
  color: rgb(255, 149, 149);
  margin-top: -10px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.title-size {
  font-size: 2.5rem;
}

/* Navpage */

.small-titlebar-wrapper {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--title-grey);
}

.small-title {
  font-family: 'IBM Plex Mono';
}

.small-title-size {
  font-size: 1.5rem;
}

.nav-icons {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}

.highlighted {
  color: var(--entryway-offwhite);
}

.colored-icon {
  color: var(--exit-orange);
}

.navbar-wrapper {
  height: 12vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.chat-select, .friend-select, .profile-select, .logout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--entryway-grey);
}

.conditional-content-wrapper {
  height: 80vh;
  background-color: var(--profile-mattegrey);
}

/* <ProfileContent /> */

.view-reqs {
  height: 8vh;
  /* background-color: rgba(63, 93, 124, 0.823); */
  background-color: var(--req-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-block {
  height: 36vh;
}

.bio-block {
  height: 28vh;
  overflow-y: scroll;
}

.profile-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 50%;
}

.loading-phase {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.view-reqs-wrapper {
  display: flex;
  height: 100%;
}

.sub-nav-icons {
  font-size: 2rem;
  margin-left: -5px;
}

.edit-bio {
  height: 8vh;
  background-color: var(--entryway-lightgrey);
  /* background-color: rgb(70, 92, 112); */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.username-button-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  border-radius: 40px;
  margin-bottom: 5px;
  border: 2px solid var(--entryway-offwhite);
  height: 150px;
}

.profile-change-button {
  border: none;
  background-color: var(--entryway-bluegrey);
  border-radius: 5px;
  padding: 8px;
  margin: 8px;
  margin-top: 0px;
}

.user-color {
  color: var(--user-color);
}

.username-block {
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: var(--entryway-offwhite);
}

.bio-text {
  padding: 15px;
  white-space: pre-line;
  white-space: pre-wrap;
}

.bio-input {
  height: 28vh;
  width: 100%;
  background-color: var(--bio-darkgrey);
  color: var(--entryway-offwhite);
  border: none;
}

.profile-block {
  background-color: var(--profile-mattegrey);
}

.inbound, .outbound {
  height: 8vh;
  background-color: var(--inbound-blue);
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  justify-content: center;
  align-items: center;
}

.go-back {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  background-color: rgb(198, 200, 201);
}

.bio-block-user-profile {
  height: 36vh;
}

.loading-placeholder {
  height: 20vh;
  display: flex;
  justify-content: center;
  color: var(--entryway-offwhite);
  padding: 10px;
  align-items: center;
}

.loading-placeholder-text {
  height: 10vh;
  display: flex;
  justify-content: center;
  color: var(--entryway-offwhite);
  padding: 10px;
  align-items: center;
}

.req-message {
  margin-left: 20px;
  margin-top: -6px;
}

.req-buttons-block {
  height: 100%;
  width: 50%;
}

.req-buttons-block-inbound {
  height: 100%;
  width: 50%;
}

.req-button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--entryway-bluegrey);
  border-left: 1px solid black;
}

.req-button-half {
  width: 50%;
  background-color: var(--entryway-bluegrey);
  height: 100%;
  border: none;
  border-left: 1px solid black;
}

.accept {
  border-left: 1px solid black;
}

.reqs-wrapper {
  overflow-y: scroll;
  height: 80vh;
}

.outbound-req-wrapper, .inbound-req-wrapper {
  height: 8vh;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin: 1vh;
  background-color: var(--req-emerald);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Friends */

.friend-content-wrapper {
  height: 80vh;
  overflow-y: scroll;
}

.my-friends-bar {
  height: 8vh;
  background-color: rgb(92, 92, 255);
  display: flex;
  align-items: center;
}

.show-hide-friends {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--req-emerald);
}

.my-friends-text {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(65, 142, 149);
}

.friend-button-right {
  width: 40%;
}

.friend-button-left {
  width: 60%;
}

.searchbar {
  height: 8vh;
  background-color: var(--purple-grey);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fire-search, .search-input {
  padding-left: 10px;
  padding-right: 10px;
}

.fire-search {
  margin-left: 10px;
  height: 80%;
  border: none;
  border-radius: 8px;
}

.search-input {
  border: none;
  background-color: var(--entryway-offwhite);
  height: 80%;
  border-radius: 8px;
}

.friend-area {
  height: 36vh;
}

.friend-bar {
  justify-content: left;
}

.friend-profile-title, .go-back-friend {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-profile-title:hover {
  cursor: auto;
}

.friend-profile-title {
  width: 75%;
}

.go-back-friend {
  width: 25%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--req-emerald);
}

.searched-user-wrapper {
  height: 12vh;
  margin: 1vh;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--muted-tangerine);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searched-user-text {
  width: 70% !important;
}

.searched-user-button-block {
  width: 40%;
}

.searched-user-text, .searched-user-button-block {
  height: 100%;
}

.pic-blurb {
  height: 70px;
}

.pending {
  color: purple;
}

.spacer-bar {
  height: 4vh;
  background-color: rgba(60, 71, 82, 0.823);
}

.profile-search-img-container {
  height: 70px;
  border-radius: 10px;
  border: 1px solid var(--entryway-offwhite);
  margin-left: 1vh;
  margin-right: 1vh;
  display: flex;
  justify-content: center;
  width: 70px;
  overflow: hidden;
}

.searched-user-text {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-right: 1px solid black;
}

.searched-user-button-block {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.view-profile-button, .send-request-button {
  width: 50%;
  padding: 5px;
  height: 100%;
  background-color: var(--entryway-bluegrey);
  border: none;
}

.view-profile-button {
  border-right: 1px solid black;
}

.no-click {
  pointer-events: none;
}

.no-click:hover {
  cursor: not-allowed;
}

/* Chat */

.chat-user {
  justify-content: center;
  align-items: center;
  width: 25%;
}

.profile-container {
  display: flex;
  align-items: center;
}

.chat-user-text {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
}

.chat-content-wrapper {
  overflow-y: scroll;
  height: 80vh;
}

.chat-wrapper {
  height: 80vh;
  background-color: rgb(176, 182, 193);
}

.chat-space {
  height: 56vh;
  padding-bottom: 10px;
  padding-top: 0px;
  overflow-y: scroll;
}

.chat-bar {
  width: 85%;
}

.chat-bar, .chat-textarea {
  height: 12vh;
  display: flex;
  flex-direction: row;
}

.chat-bar-outer {
  height: 12vh;
  display: flex;
  flex-direction: row;
}

.chat-textarea {
  background-color: var(--entryway-offwhite);
  height: 12vh;
  width: 70.59%;
  border: none;
  padding: 5px;
}

.send-chat-button-wrapper {
  width: 29.41%;
  background-color: var(--entryway-bluegrey);
  height: 12vh;
  border: none;
}

.send-chat-button {
  width: 100%;
  padding: 5px;
  background-color: var(--entryway-bluegrey);
  height: 12vh;
  border: none;
}

.clear-chat-button {
  width: 100%;
  background-color: var(--clear-chat-red);
  height: 12vh;
  padding: 5px;
  border: none;
}

.clear-chat-button-wrapper {
  width: 15%;
  background-color: var(--clear-chat-red);
  height: 12vh;
  border: none;
}

.chat-chat {
  height: 12vh;
}

.chat-message-wrapper {
  display: flex;
  align-items: center;
}

.chat-message-body {
  background-color: white;
  padding: 8px;
  white-space: pre-line;
  border-radius: 8px;
  margin: 5px;
  margin-bottom: 0px;
  max-width: 70%;
}

.right {
  justify-content: right;
  flex-direction: row-reverse;
}

.right > .chat-message-body {
  background-color: var(--my-chat-color);
}

.left > .chat-message-body {
  background-color: var(--friend-chat-color);
}

.left {
  justify-content: left;
}

.loading-balls {
  height: 100px;
}

.show-status {
  font-size: 0.8rem;
  color: rgb(93, 93, 93);
}

.chat-user-wrapper {
  height: 12vh;
  border-radius: 5px;
  overflow: hidden;
  margin: 1vh;
  background-color: var(--space-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-name-wrapper {
  height: 12vh;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
}

.notif-block {
  border: none;
  padding: 20px;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.disabled {
  pointer-events: none;
}

.disabled-wrapper {
  cursor: not-allowed;
}

.disabled:hover {
  cursor:not-allowed;
}

.surprise {
  color: rgb(88, 255, 238);
}

.text-size {
  font-size: 1rem;
}

.text-size-larger {
  font-size: 1.3rem;
}

@media only screen and (min-width: 390px) {
  .profile-pic {
    height: 170px;
  }
}

@media only screen and (min-width: 400px) {
  .profile-pic {
    height: 190px;
  }

  .loading-balls {
    height: 130px;
  }
}

@media only screen and (min-width: 465px) {
  .text-size {
    font-size: 1.2rem;
  }
  
  .text-size-larger {
    font-size: 1.4rem;
  }

  .profile-pic {
    height: 220px;
  }

  .loading-balls {
    height: 150px;
  }

  @media only screen and (max-height: 1000px) {
    .profile-block {
      flex-direction: row;
    }

    .profile-pic {
      height: 200px;
    }

    .username-block-margin {
      margin-right: 20px;
    }
  }
}

@media only screen and (min-height: 750px) {
  .nav-icons {
    font-size: 3.5rem;
  }
}

@media only screen and (min-height: 860px) {
  .profile-search-img-container {
    height: 100px;
    width: 100px;
  }

  .pic-blurb {
    height: 100px;
  }
}

/* .entry-button:hover, .member:hover, .profile-change-button:hover, .edit-bio:hover, .view-reqs:hover, .go-back:hover, .req-button:hover, .profile-select:hover, .chat-select:hover, .friend-select:hover, .req-button-half:hover, .chat-user-wrapper:hover, .show-hide-friends:hover, .send-chat-button:hover, .clear-chat-button:hover, .logout:hover, .view-profile-button:hover, .send-request-button:hover {
  cursor: pointer;
}*/

@media only screen and (min-width: 600px) {
  .title-size {
    font-size: 3.5rem;
  }
  
  .slogan-size {
    font-size: 1.1rem;
  }

  .small-title-size {
    font-size: 2rem;
  }

  .entry-form {
    width: 400px;
  }

  .text-size {
    font-size: 1.5rem;
  }
  
  .text-size-larger {
    font-size: 1.8rem;
  }

  /* .profile-pic {
    height: 240px;
  } */

  .loading-balls {
    height: 180px;
  }
}

@media only screen and (min-width: 1100px) {
  .text-size {
    font-size: 1.8rem;
  }
  
  .text-size-larger {
    font-size: 2rem;
  }
}

@media only screen and (min-height: 930px) {
  .nav-icons {
    font-size: 4rem;
  }
  .small-title-size {
    font-size: 3rem;
  }
}

@media only screen and (min-height: 1000px) {
  .profile-pic {
    height: 300px;
  }

  .title-size {
    font-size: 5rem;
  }

  .slogan-size {
    font-size: 1.4rem;
  }

  .small-title-size {
    font-size: 4rem;
  }
}